.header {
  @apply border-b-[1px] border-dashed border-divider pt-8 pb-6 fixed top-0 left-0 w-full z-50 bg-white transition-transform ease-in-out duration-300;

  .header-top {
    @apply mb-8;
    transition: opacity 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
  }

  .logo {
    transition: opacity 0.3s ease-in-out;
  }

  .actions {
    @apply flex items-stretch justify-start w-fit gap-6;
    transition: opacity 0.3s ease-in-out;
  }

  .header-bottom .logo {
    @apply opacity-0
  }

  .header-bottom .actions {
    @apply opacity-0;
  }

  .category-item {
    @apply flex items-center justify-start text-h6 uppercase p-3 rounded transition-colors ease-in-out duration-300;

    &.active {
      @apply bg-header-hover-menu;

      svg {
        @apply transform rotate-180;
      }
    }
  }

  .dropdown {
    transition: opacity 0.3s ease-in-out;
  }

  .dropdown .container {
    @include scroll;
  }

  .category-item.active~.dropdown {
    @apply opacity-100 pointer-events-auto;
  }

}

.header_fixed {
  @apply -translate-y-8 pb-8;

  .header-top {
    @apply mb-0 opacity-0;
  }

  .header-bottom .logo {
    @apply opacity-100;
  }

  .header-bottom .actions {
    @apply opacity-100;
  }
}

.header_hide {
  @apply -translate-y-full
}