@layer components {
  .input {
    @apply flex flex-col space-y-2 text-primary-gray text-sm;

    input {
      outline: none;
      border-color: theme('colors.old-price');
      @apply py-3 px-4 border-[1px] rounded-lg text-base transition-all duration-300 ease-in-out;

      &:disabled {
        border-color: theme('colors.divider');
        @apply bg-grey-light text-old-price cursor-not-allowed;
      }
    }

    @media (hover:hover) and (pointer:fine) {
      &:hover {
        input:not(:disabled) {
          border-color: theme('colors.blue');
        }
      }
    }

    &:focus-within {
      input {
        border-color: theme('colors.blue');
        box-shadow: 0px 0px 0px 3px theme('colors.input-hover');
      }
    }

    &_error {
      input {
        box-shadow: none !important;
        border-color: theme('colors.red') !important;
      }
    }
  }
}