@tailwind base;
@tailwind components;
@tailwind utilities;
@import './util/module';
@import './layout/module';


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-black;
  @include scroll;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  @apply flex items-center justify-center w-40 h-8;

  svg {
    @apply w-full h-full;
  }
}